@model FinalProj.Models.ImageLibrary
@{
    ViewBag.Title = "Import";
    ViewBag.alertSize = "160px";
}
<script>
    function importData() {
        var files = [];
        var posts_upload = document.getElementById("posts-upload").files;
        var images_upload_csv = document.getElementById("images-upload-csv").files;
        var images_upload_zip = document.getElementById("images-upload-zip").files;
        var categories_upload = document.getElementById("categories-upload").files;
        var website_upload = document.getElementById("website-upload").files;

        if (posts_upload.length > 0) {
            files.push(posts_upload[0]);
        }
        if (images_upload_csv.length > 0) {
            files.push(images_upload_csv[0]);
        }
        if (images_upload_zip.length > 0) {
            files.push(images_upload_zip[0]);
        }
        if (categories_upload.length > 0) {
            files.push(categories_upload[0]);
        }
        if (website_upload.length > 0) {
            files.push(website_upload[0]);
        }

        if (files.length > 0) {
            if ((images_upload_csv.length > 0 && images_upload_zip.length == 0) || (images_upload_csv.length == 0 && images_upload_zip.length > 0)) {
                document.getElementsByClassName("alert")[0].style.display = "block";
                document.getElementsByClassName("alert-message")[0].innerHTML = "Insert both CSV and Zip files for Images Import!";
            } else {
                var form = $('#fileUploadForm')[0];
                var data = new FormData(form);

                var taskCount = 0;
                document.getElementById("progress-bar").className = "bg-info";
                document.getElementsByClassName("progress-bar-container")[0].hidden = false;
                $.ajax({
                type: "POST",
                url: "/Home/Import",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function (result) {
                    taskCount = result.totalCount;
                    progress(taskCount);
                    document.getElementsByClassName("alert")[0].style.display = "block";
                    document.getElementsByClassName("alert-message")[0].innerHTML = "Uploading import details!";
                    
                },
                error: function () {
                    document.getElementsByClassName("alert")[0].style.display = "block";
                    document.getElementsByClassName("alert-message")[0].innerHTML = "Import Details Un-Successful!";
                    //alert("Error occured!")
                }
            });
            }
        } else {
            document.getElementsByClassName("alert")[0].style.display = "block";
            document.getElementsByClassName("alert-message")[0].innerHTML = "Please fill the details!";
        }
    }

    function progress(taskCount) {
        $.getJSON('/Home/ImportTaskProgress', function (json) {
            console.log(json.Progress);
            console.log(taskCount);
            proc = ((json.Progress / taskCount) * 100.0).toFixed(2);
            document.getElementById("progress-bar").style.width = proc + '%';
            document.getElementById("progress-bar-text").innerHTML = proc + '%';
            if (proc >= 100) {
                document.getElementById("progress-bar").className = "bg-success";
                document.getElementsByClassName("alert")[0].style.display = "block";
                document.getElementsByClassName("alert-message")[0].innerHTML = "Import files Sucessfully!";
            } else {
                progress(taskCount);
            }
        });
       
    }
</script>
<div style="margin-left:160px;">
    <h2>Import</h2>
    <hr />
    <div class="card bg-light" style="max-width:80%; padding:10px 30px; margin:0% 10%;">
        @using (Html.BeginForm("Import", "Home", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "fileUploadForm" }))
        {
            <h5 class="text-center" style="margin-top:10px;">Import Details</h5>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Posts Details</span>
                </div>
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.files, new { @type = "file", @class = "custom-file-input", @id = "posts-upload", @accept = ".csv", @onchange = "document.getElementById('posts-name').innerHTML=files[0].name" })
                    <label class="custom-file-label" for="posts-upload" id="posts-name">Choose CSV file</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Image Details</span>
                </div>
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.files, new { @type = "file", @class = "custom-file-input", @id = "images-upload-csv", @accept = ".csv", @onchange = "document.getElementById('image-name-csv').innerHTML=files[0].name" })
                    <label class="custom-file-label" for="images-upload-csv" id="image-name-csv">Choose CSV file</label>
                </div>
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.files, new { @type = "file", @class = "custom-file-input", @id = "images-upload-zip", @accept = ".zip", @onchange = "document.getElementById('image-name-zip').innerHTML=files[0].name" })
                    <label class="custom-file-label" for="images-upload-zip" id="image-name-zip">Choose Zip file</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Category Details</span>
                </div>
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.files, new { @type = "file", @class = "custom-file-input", @id = "categories-upload", @accept = ".csv", @onchange = "document.getElementById('categories-name').innerHTML=files[0].name" })
                    <label class="custom-file-label" for="categories-upload" id="categories-name">Choose CSV file</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Website Details</span>
                </div>
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.files, new { @type = "file", @class = "custom-file-input", @id = "website-upload", @accept = ".csv", @onchange = "document.getElementById('website-name').innerHTML=files[0].name" })
                    <label class="custom-file-label" for="website-upload" id="website-name">Choose CSV file</label>
                </div>
            </div>
            <div style="margin:10px;" class="progress-bar-container" hidden>
                Importing
                <div class="progress progress-bar bg-info" id="progress-bar" style="height:25px; width:100%; text-align:center;">
                    <label id="progress-bar-text">Waiting...</label>
                </div>
            </div>
            <input class="btn btn-outline-success" style="float:right" type="button" value="Import" onclick="importData();" />

        }
    </div>
</div>


