@model FinalProj.Models.Website
@{
    ViewBag.Title = "Settings (General)";
    ViewBag.alertSize = "160px";
}

<style>
    .Custom-Button{
        padding:5px 15px;
    }
    .jumbotron {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    [type=file] + label {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 150px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=file] + label {
        text-align: center;
        top: 0.5em;
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    [type=file] + label:hover {
        color: dimgray;
    }

    #update-table {
        width: 100%;
        border-spacing: 10px;
        border-collapse: separate;
    }
    #image-table {
        text-align: center;
    }
</style>
<div style="margin-left:160px">
    <h2>Settings</h2>
    <hr />
    <div class="card bg-light" style="max-width:60%; padding:10px 30px; margin:0% 20%; margin-bottom:20px;">
        @using (Html.BeginForm("changeSettings", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.webID, new { Value = ViewBag.website.webID })
            <h6>Website Title :</h6>
            @Html.TextBoxFor(m => m.webTitle, new {
           @class = "form-control",
           Style = "width:100%;",
           type ="text",
           Placeholder = "Website Title",
           maxlength ="30",
           @required ="true",
           Value = ViewBag.website.webTitle})
            <h6>Website No of Posts :</h6>
            @Html.TextBoxFor(m => m.noOfPosts, new
       {
           @class = "form-control",
           Style = "width:100%;",
           maxlength="2",
           Placeholder = "No of Posts",
           @required = "true",
           @onkeypress = "return isNumberKey(event)",
           Value = ViewBag.website.noOfPosts
       })
            <h6>Featured Image : </h6>
            @Html.HiddenFor(m => m.featuredImage, new { id = "hidden-img", Value = ViewBag.website.featuredImage })
            if (ViewBag.website.featuredImage != "")
            {
                <img src="@ViewBag.website.featuredImage" style="width:400px; height:400px; margin-bottom:10px;" id="featured-img" />
            }
            else
            {
                <img src="@Url.Content("~/background_image.jpg")" class="card" style="width:400px; height:400px; margin-bottom:10px;" id="featured-img" />
            }
            <div style="width:100%">
                <input class="btn btn-outline-primary"  type="button" value="Upload Image" onclick="insertImage()" />
                <input class="btn btn-outline-success" type="submit" style="float:right"  value="Save" />
            </div>
        }
    </div>
</div>
<div class="popup" style="display:@ViewBag.popup">
    <!-- Modal content -->
    <div class="popup-content">
        <span class="close">&times;</span>
         @Html.Partial("~/Views/Post/ImagesContainer.cshtml")
        
    </div>
</div>
<script>
    // Get the modal
    var popup = document.getElementsByClassName('popup')[0];

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    function insertImage() {
        var elements = document.getElementsByClassName("img-selection");

        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display = "none";
        }
        popup.style.display = "block";

    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        popup.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == popup) {
            popup.style.display = "none";
        }
    }

    function nextPage(nextPage) {
        $.ajax({
            type: "POST",
            url: "/Post/nextImagePage",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ nextPage: nextPage }),
            success: function (object) {
                $('#images-popup-container').html(object);
                var elements = document.getElementsByClassName("img-selection");

                for (var i = 0; i < elements.length; i++) {
                    elements[i].style.display = "none";
                }
            }
        });
        
    }

    function imageClick(image) {
        var current = document.getElementsByClassName("image-container");
        for (var x = 0; x < current.length; x++) {
            current[x].style.backgroundColor = "";
            current[x].getElementsByClassName("image-selection")[0].style.visibility = "hidden";
        }
        image.style.backgroundColor = "#C0C0C0";
        image.getElementsByClassName("image-selection")[0].style.visibility = "visible";
    }

    function addImage(imageUrl) {
        document.getElementById("featured-img").src = imageUrl;
        document.getElementById("hidden-img").value = imageUrl;
        popup.style.display = "none";
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 49 || charCode > 57))
            return false;
        return true;
    }
</script>
