
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body{
            background-color:black;
        }
        
        #backgroundimg{
            left:0;
            right:0;
            top:0;
            opacity:0.8;
            
        }
        #title {
            text-align: center;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #title label{
            color: white;
            font-size: 100px;
        }
        .post-container {
            margin-left: 300px;
            margin-right: 50px;
            background-color: white;
            margin-top: 30px;
            border-radius:5px;
            padding:20px;
        }
        .post-title{
            font-size:30px;
        }
        .post-date{
            text-align:right;
            margin-right:10px;
        }
        .sidenav {
            height: 100%;
            width: 280px;
            left: 0;
            border-color: #101010;
            overflow-x: hidden;
            padding-top: 20px;
            z-index: -1;
            color: white;
            margin-left: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
        }

        .sidenav-menu {
            color: white;
            padding-left: 40px;
            word-wrap: break-word;
        }

        .sidenav-menu a {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            text-decoration:none;
            color:white;
        }
        .sidenav-menu a:hover{
            color:lightgray;
        }
    </style>
</head>
<body>
    
    <div>

        @*<img src="@Url.Content(ViewBag.BackgroundImage)" style="width:100%; height:75%;" id="backgroundimg" />*@

    </div>
    <div id="title">
        <label>Title</label>

    </div>
    <div>
        @foreach (var post in ViewBag.PostsList) {
            <div class="post-container">
                <div>
                    <div>
                        <label class="post-title">@post.postTitle Sample Post</label>
                    </div>
                    <div class="post-date">
                        <label>Upload Date</label>
                        <label>@post.createdDate</label>
                    </div>
                    <div class="post-date">
                        <label>Upload Date</label>
                        <label>@post.modifyDate</label>
                    </div>
                    <div style="margin-top:10px;">
                        <label>@post.postData</label>
                    </div>
                </div>
            </div>
        }

        <div class="navbar navbar-fixed-top">
            <div class="sidenav">
                <div class="sidenav-item">
                    Category
                    <div class="sidenav-menu">
                        @Html.ActionLink("Category 1", "ImageLibrary", "ImageLibrary")
                        <br />
                        @Html.ActionLink("Category 2", "ImageLibrary", "ImageLibrary")
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
