
@{
    ViewBag.Title = "Category";
}
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align:center;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #357EC7;
        color: white;
    }
    .Custom-Button {
        float: none;
        margin: 5px;
        padding: 5px 10px;
        background-color: #ff1919;
        color: white;
        border-radius: 5px;
        font-size: small;
    }
    td {
        width: 80px;
    }

    td+td {
        width: auto;
    }
</style>
<script>
    function checkBoxAllClick(checked) {
        if (checked == false) {
            $('.categorySelection:checked').prop('checked', false);
            document.getElementById("deleteAll").hidden = true;
        }
        else {
            $('.categorySelection:not(:checked)').prop('checked', true);
            document.getElementById("deleteAll").hidden = false;
        }
    }
    function chechBoxSingle(checked) {
        if (checked == false) {
            $('#chckHead:checked').prop("checked", false);
        }

        var favorite = [];
        $.each($("input[class='categorySelection']:checked"), function () {
            favorite.push($(this).val());
        });
        if (favorite.length == 0) {
            document.getElementById("deleteAll").hidden = true;
        } else {
            document.getElementById("deleteAll").hidden = false;
        }

    }
</script>
<div style="margin-left:160px">
    <h2>Category</h2>
    <hr />
    @if (ViewBag.DisplayCategories != null)
    {
        <input class="Custom-Button" id="deleteAll" type="button" value="Delete All" hidden />
        <table id="customers">
            <tr>
                <th><input id="chckHead" type="checkbox" value="false" onchange="checkBoxAllClick(this.checked)" /></th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>

            @foreach (var cat in ViewBag.DisplayCategories)
            {
                <tr>
                    <td><input class="categorySelection" type="checkbox" value="false" onchange="chechBoxSingle(this.checked)" /></td>
                    <td>@cat.title</td>
                    <td>@cat.desc</td>
                    <td><input type="button" onclick="delete(@cat.catID)" class="Custom-Button" value="Delete" /></td>
                </tr>
            }
        </table>
        <div class="pagination">
            @for (int page = 1; page <= ViewBag.CategoryProp.noOfPages; page++)
            {
                if (ViewBag.CategoryProp.currentPage == page)
                {
                    @Html.ActionLink(page.ToString(), "nextPage"
                   , new { nextPage = page, currentPage = ViewBag.CategoryProp.currentPage }, new { @class = "active" })
                }
                else
                {
                    @Html.ActionLink(page.ToString(), "nextPage"
                   , new { nextPage = page, currentPage = ViewBag.CategoryProp.currentPage })
                }

            }
        </div>
    }
    else
    {
        <table>
            <tr>
                <td>No Category Found!</td>
            </tr>
        </table>
    }
</div>



