
@{
    ViewBag.Title = "Add New (Posts)";
    ViewBag.alertSize = "160px";
}

<style>
    .Custom-Button {
        padding: 5px 10px;
    }
    #title {
        border: 0px;
        border-bottom: 1px solid lightgray;
        margin: 2%;
        font-size: 40px;
        min-width: 96%;
    }
</style>
<script>
    var editor = document.getElementById("editor");
    function uploadPost(val) {
        var title = document.getElementById("title").value;
        if (title != "") {
            var category = document.getElementById("post-category").value;

            if (val == "Save as Draft") {
                val = "Draft";
            }
            var data = JSON.stringify({
                'status': val,
                'content': editor.contentWindow.document.body.innerHTML.toString(),
                'title': title,
                'category': category,
                'uploadId': uploadId
            });
            $.ajax({
                type: "POST",
                url: "/Post/uploadPost", // the URL of the controller action method
                data: data,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    document.getElementsByClassName("alert")[0].style.display = "block";
                    if (uploadId != 0) {
                        document.getElementsByClassName("alert-message")[0].innerHTML = "Post Updated Successfully!";
                    } else {
                        if (val == "Draft") {
                            document.getElementsByClassName("alert-message")[0].innerHTML = "Post Save As Draft Successfully!";
                        } else {
                            document.getElementsByClassName("alert-message")[0].innerHTML = "Post Published Successfully!";
                        }
                    }
                    uploadId = result.postID;
                },
                error: function () {
                    //alert("error");
                    document.getElementsByClassName("alert")[0].style.display = "block";
                    if (uploadId != 0) {
                        document.getElementsByClassName("alert-message")[0].innerHTML = "Post Updat Un-Successful!";
                    } else {
                        if (val == "Draft") {
                            document.getElementsByClassName("alert-message")[0].innerHTML = "Post Save As Draft Un-Successful!";
                        } else {
                            document.getElementsByClassName("alert-message")[0].innerHTML = "Post Publish Un-Successful!";
                        }
                    }
                }
            });
        } else {
            document.getElementsByClassName("alert")[0].style.display = "block";
            document.getElementsByClassName("alert-message")[0].innerHTML = "Please enter title!";
        }
    }
    
</script>

<div style="margin-left:160px" onload="setEditable()">
    <h2>Add New</h2>
    <hr />
    <div>
        <div>
            <table class="top-container">
                <tr>
                    <td>
                        <input class="Custom-Button" type="button" value="Save as Draft" onclick="uploadPost(this.value)" />
                        <input class="Custom-Button" type="button" value="Publish" onclick="uploadPost(this.value)" />
                    </td>
                </tr>
                <tr style="float:left;">
                    <td>
                        <label style="font-size:15px">Category : </label>
                    </td>
                    <td>
                        <select id="post-category" class="Custom-Button img-selection" style="background-color:white; color:black;">
                            @foreach (var cat in ViewBag.catList)
                            {
                                if (ViewBag.post.catId == @cat.catID)
                                {
                                    <option value="@cat.catID" selected>@cat.title</option>
                                }
                                else
                                {
                                    <option value="@cat.catID">@cat.title</option>
                                }

                            }
                        </select>
                    </td>
                </tr>
            </table>

        </div>
        @*<div>
            <span>
                <input type="text" id="title" placeholder="Title" maxlength="150" value="@ViewBag.post.postTitle" />
            </span>
        </div>
        <div>
            <table cellpadding="2" class="editor-options" >
                <tr>
                    <td class="editor_icon" id="bold"><img class="custom-img" src="~/TextEditor_Icon/bold.png" onclick="bold();" /></td>
                    <td class="editor_icon" id="italic"><img class="custom-img" src="~/TextEditor_Icon/italic.png" onclick="italic();" /></td>
                    <td class="editor_icon" id="underline"><img class="custom-img" src="~/TextEditor_Icon/underline.png" onclick="underline();" /></td>
                    <td class="editor_icon" id="unOrderedList"><img class="custom-img" src="~/TextEditor_Icon/unOrderedList.png" onclick="unOrderedList();" /></td>
                    <td class="editor_icon" id="orderedList"><img class="custom-img" src="~/TextEditor_Icon/orderedList.png" onclick="orderedList();" /></td>
                    <td class="editor_icon" id="leftAlign"><img class="custom-img" src="~/TextEditor_Icon/left-align.png" onclick="leftAlign();" /></td>
                    <td class="editor_icon" id="centerAlign"><img class="custom-img" src="~/TextEditor_Icon/center-alignment.png" onclick="centerAlign();" /></td>
                    <td class="editor_icon" id="indent"><img class="custom-img" src="~/TextEditor_Icon/indent.png" onclick="indent();" /></td>
                    <td class="editor_icon" id="fontColor">
                        Font Color: <input type="color" id="color" value="#000002" onchange="fontColor(this.value);" />
                    </td>
                    <td class="editor_icon" id="fontSize">
                        Font Size:
                        <select class="Custom-Button img-selection" style="float:none; background-color:white; color:black;"
                                onclick="fontSize(this.value)" id="font-size-selection">
                            <option value="0">Default</option>
                            <option value="7" style="font-size:3em">Header 1</option>
                            <option value="6" style="font-size:2em">Header 2</option>
                            <option value="5" style="font-size:1.5em">Header 3</option>
                            <option value="4" style="font-size:1.13em">Paragraph 1</option>
                            <option value="3" style="font-size:1.0em">Paragraph 2</option>
                            <option value="2" style="font-size:0.82em">Paragraph 3</option>
                            <option value="1" style="font-size:0.63em">Paragraph 4</option>
                        </select>
                    </td>
                    <td class="editor_icon">
                        <input class="Custom-Button" type="button" value="Insert Image" style="padding:2px 8px" id="insertImage" onclick="insertImage()" />
                    </td>
                </tr>
            </table>
        </div>
        <iframe id="editor" style="font-size:13px" srcdoc="@ViewBag.post.postData">
        </iframe>*@
        <div>
            <span>
                <input type="text" id="title" placeholder="Title" maxlength="150" value="@ViewBag.post.postTitle" />
            </span>
        </div>
        @Html.Partial("~/Views/Post/ContentEditor.cshtml")
    </div>
</div>



<script>
    // Get the modal
    var popup = document.getElementsByClassName('popup')[0];

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    function insertImage() {
        popup.style.display = "block";

    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        popup.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == popup) {
            popup.style.display = "none";
        }
    }

    function imageClick(image) {
        var current = document.getElementsByClassName("image-container");
        for (var x = 0; x < current.length; x++) {
            current[x].style.backgroundColor = "";
            current[x].getElementsByClassName("image-selection")[0].style.visibility = "hidden";
        }
        image.style.backgroundColor = "#C0C0C0";
        image.getElementsByClassName("image-selection")[0].style.visibility = "visible";
    }

    function addImage(imageUrl, image) {
        var url = imageUrl.split('/');
        var filename = (url[url.length - 1]).split('.').slice(0, -1).join('.');
        var extension = (url[url.length - 1]).replace(filename, "");
        var size = image.parentNode.parentNode.getElementsByClassName("Custom-Button")[0].value;
        var file = filename + '_' + size + extension;
        var path = imageUrl.replace(filename + extension, "");
        //alert(path + file);

        editor.contentWindow.document.body.innerHTML += "<img style='padding:5px' src=\"" + (path + file) + "\" />";
        popup.style.display = "none";
    }
</script>
